@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my HOME page</h1>
    <p>This is Sandy's homepage and you can link to my <a href="/calculator/">calculator</a>.</p>
</div>
